@{
    ViewBag.Title = "Introduction";
}
<h3>Bine ati venit pe pagina facultății dedicată specializării CTI!</h3>
<p class="lead">Aici, profesorii, secretarele și studenții vor putea găsi informațiile necesare privind manipularea cursurilor, studenților și notelor existente.</p>
<p>
    Vă mulțumim că faceți parte din această călătorie academică și vă dorim succes în toate activitățile voastre!
</p>